# 依赖文件夹
node_modules/
**/node_modules/

# 构建输出
dist/
frontend/dist/

# 生成的文件
stats.html

# IDE 文件
.vscode/

# 锁文件
package-lock.json
yarn.lock
pnpm-lock.yaml

# 环境变量文件
.env
vite-env.d.ts

# 文档不需要格式化
LICENSE
README.md
*.md
*.txt
*.json


# 配置文件
package.json
.prettierrc
commitlint.config.js
eslint.config.js
vite.config.ts