@import 'tailwindcss';

@theme {
  /* 自定义断点 */
  --breakpoint-sm: 700px;
  --breakpoint-md: 970px;
  --breakpoint-lg: 1130px;
  --breakpoint-xl: 1320px;
  /* 边框颜色 */
  --color-borderDark: #2f3336;
  --color-borderWhite: #eff3f4;
  /* 图标颜色 */
  --color-icon1: #1eaafe;
  --color-icon2: #1d9bf0;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-1: #ff6b6b;
  --color-2: #4ecdc4;
  --color-3: #45b7d1;
  --color-4: #f9ca24;
}

ol,
ul,
li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 16px;
  color: white;
  overflow: hidden;
}
