@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+SC:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+SC:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import 'tailwindcss';

@theme {
  /* 自定义字体，帖子用 */
  --font-Rounded: 'M PLUS Rounded 1c', sans-serif;
  /* 自定义断点 */
  --breakpoint-sm: 700px;
  --breakpoint-md: 970px;
  --breakpoint-lg: 1130px;
  --breakpoint-xl: 1320px;
  /* 边框颜色 */
  --color-borderDark: #2f3336;
  --color-borderWhite: #eff3f4;
  /* 图标颜色 */
  --color-icon1: #1eaafe;
  --color-icon2: #1d9bf0;
}

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans SC', sans-serif;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  color: white;
}
html {
  overflow-y: scroll;
}

html.modal-open {
  overflow: hidden;
  padding-right: var(--scrollbar-width, 0px);
}
#app {
  width: 100%;
  height: 100%;
}

ol,
ul,
li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 背景蒙层淡入动画 */
.modal-backdrop {
  animation: backdropFadeIn 0.3s ease-out;
}

/* 桌面端模态框弹出动画 */
.modal-desktop {
  animation: modalDesktopSlideIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: center;
}

/* 移动端模态框滑入动画 */
.modal-mobile {
  animation: modalMobileSlideTop 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
  transform-origin: bottom;
}
/* 移动端模态框菜单滑入动画 */
.modal-mobile-menu {
  animation: modalMobileMenuSlideLeft 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
  transform-origin: bottom;
}

@keyframes backdropFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalDesktopSlideIn {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes modalMobileSlideTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes modalMobileMenuSlideLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
